*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* this defines what 1 rem is  */
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: rgb(243, 244, 211);
  box-sizing: border-box;
  margin: 0;
  height: 500rem;
}

*::selection {
  background-color: rgb(84, 19, 226);
}

/* main {
  background-color: white;
  height: 90vh;
  box-shadow: 0 1rem 1rem rgba(49, 47, 47, 0.307);
} */
.center-text {
  text-align: center;
}

.margin-bottom-big {
  margin-bottom: 8rem;
}

.margin-bottom {
  margin-bottom: 5rem;
}

.margin-top {
  margin-top: 8rem;
}

.secondary-heading {
  font-size: 5rem;
  color: rgb(24, 49, 20);
}

@media (max-width: 720px) {
  .secondary-heading {
    font-size: 2.5rem;
    margin: 2rem auto;
  }
}
.header {
  padding: 0rem 4rem 0rem 4rem;
  background-image: linear-gradient(to right, rgb(24, 49, 20), rgb(68, 97, 41));
}
.header .navbar {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  height: 10rem;
}
.header .navbar-title {
  font-size: 4rem;
  color: #FCEE21;
  display: inline-block;
  font-weight: bold;
}
.header .navbar-ul {
  list-style: none;
  display: inline-block;
}
.header .navbar-ul li {
  text-decoration: none;
  display: inline-block;
}
.header .navbar-ul li:not(:last-child) {
  margin-right: 1.5rem;
}
.header .navbar-ul li a {
  text-decoration: none;
  color: white;
  font-size: 3rem;
  text-align: center;
  text-transform: capitalize;
  padding: 0;
}
.header .navbar-ul li a:hover {
  border-bottom: 1px solid #FCEE21;
}

@media (max-width: 720px) {
  .header {
    padding: 0rem 2rem 0rem 2rem;
  }
}
.hero-section {
  height: max-content;
  display: flex;
  background-image: linear-gradient(to right, rgb(24, 49, 20), rgb(68, 97, 41));
  padding: 0rem 4rem 0rem 4rem;
}
.hero-section-text {
  width: 60%;
  display: inline-block;
}
.hero-section-text-title {
  font-size: 4rem;
  text-indent: 0%;
  text-align: justify;
  margin: 2rem 0 3rem 0;
  color: #FCEE21;
  font-weight: 400;
}
.hero-section-text-span {
  font-size: 3rem;
  text-align: justify;
  color: white;
  padding-bottom: 5rem;
}
.hero-section-img .hero-img {
  width: 100%;
  margin-left: 3rem;
  height: 35rem;
  object-fit: fill;
  object-position: center;
  display: inline-block;
}

@media (max-width: 720px) {
  .hero-section {
    padding: 0rem 2rem 0rem 2rem;
  }
  .hero-section-text-title {
    text-align: left;
  }
  .hero-section-img .hero-img {
    display: none;
  }
  .hero-section-text {
    width: 100%;
  }
  .hero-section-text-title {
    font-size: 2rem;
  }
  .hero-section-text-span {
    font-size: 1.5rem;
    padding-bottom: 3rem;
  }
}
.article-container {
  display: flex;
  flex-direction: row;
  /* grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
    row-gap: 2rem; */
  max-width: 114rem;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
.article-container .article-card {
  background-color: rgb(220, 222, 159);
  width: calc((100% - 2 * 6rem) / 3);
  margin: 0 auto;
  height: max-content;
  box-shadow: 0px 0px 5px 0px rgba(67, 64, 64, 0.751);
}
.article-container .article-card-img .card-img {
  height: 20rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.article-container .article-card-title {
  font-size: 3rem;
  font-weight: 600;
  text-align: left;
  margin: 2rem 4rem;
}
.article-container .article-card-content {
  font-size: 1.5rem;
  margin: 2rem 4rem;
  text-align: left;
}

@media (max-width: 720px) {
  .article-container {
    display: flex;
    flex-direction: column;
  }
  .article-container .article-card {
    width: 90%;
    margin: 1rem auto;
    /* &-title{
      font-size: 1.5rem;
    } */
  }
}
.btn {
  background-color: #3edd84;
  color: white;
  padding: 1rem 3rem;
  border: none;
  border-radius: 10rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin: 2rem 4rem;
  font-size: 2rem;
  cursor: pointer;
  font-family: "merriweather";
  display: inline-block;
  /* &-read-more {
    position: absolute;
    bottom: 1rem;
  } */
}
.btn:hover {
  transform: translateY(-4px);
  box-shadow: 10px 10px 5px rgba(49, 47, 47, 0.307);
  scale: 1.05;
}

/*# sourceMappingURL=style.css.map */
