.hero-section {
  display: grid;
  grid-template-columns: 60% 40%;
  column-gap: 3rem;
  height: 40rem;
  //background-image: linear-gradient( to right ,$color-dark-green, $color-medium-green);
  background-image: linear-gradient(to right, $dark-green, $medium-green);
  padding: 0rem 4rem 0rem 4rem;
  &-text {
    &-title {
      font-size: 4rem;
      text-indent: 0%;
      text-align: justify;
      margin: 2rem 0 3rem 0;
      color: $color-yellow;
      font-weight: 400;
    }
    &-span {
      font-size: 3rem;
      text-align: justify;
      color: white;
    }
  }
  &-img {
    .hero-img {
      width: 100%;
      margin-bottom: 3rem;
      height: 35rem;
      object-fit: fill;
      object-position: center;
    }
  }
}
