.hero-section {
  height: max-content;
  display: flex;
  background-image: linear-gradient(
    to right,
    $color-dark-green,
    $color-medium-green
  );
  //background-image: linear-gradient(to right, $dark-green, $medium-green);
  padding: 0rem 4rem 0rem 4rem;
  &-text {
    width: 60%;
    display: inline-block;
    &-title {
      font-size: 4rem;
      text-indent: 0%;
      text-align: justify;
      margin: 2rem 0 3rem 0;
      color: $color-yellow;
      font-weight: 400;
    }
    &-span {
      font-size: 3rem;
      text-align: justify;
      color: white;
      padding-bottom: 5rem;
    }
  }
  &-img {
    .hero-img {
      width: 100%;
      margin-left: 3rem;
      height: 35rem;
      object-fit: fill;
      object-position: center;
      display: inline-block;
    }
  }
}

@media (max-width: 720px) {
  .hero-section {
    padding: 0rem 2rem 0rem 2rem;
    &-text {
      &-title {
        text-align: left;
      }
    }
    &-img {
      .hero-img {
        display: none;
      }
    }
    &-text {
      width: 100%;
      &-title {
        font-size: 2rem;
      }
      &-span {
        font-size: 1.5rem;
        padding-bottom: 3rem;
      }
    }
  }
}
