.center-text {
  text-align: center;
}
.margin-bottom-big {
  margin-bottom: 8rem;
}
.margin-bottom {
  margin-bottom: 5rem;
}
.margin-top {
  margin-top: 8rem;
}
.secondary-heading {
  font-size: 5rem;
  color: $color-dark-green;
}

@media (max-width:720px) {
  .secondary-heading {
    font-size: 2.5rem;
    margin: 2rem auto;
  }
}