//$bg-color: #d0dfed;
$bg-main: #8d4ef5;
$bg-body: #ccccff;
$color-black-sh: rgba(49, 47, 47, 0.307);
$color-black:rgba(49, 47, 47, 0.307);

$color-dark-green: rgba(24, 49, 20, 1);
$color-medium-green: rgba(68, 97, 41, 1);
$color-light-green: rgba(146, 166, 95, 1);
$color-yellow: rgba(252, 238, 33, 1);
$color-body: rgba(243, 244, 211, 1);
$color-content-bg: rgba(220, 222, 159, 1);
$gradient-green: rgba(24, 49, 20, 1);

$primary-padding: 0rem 4rem 0rem 4rem;

$light-green: #55c57a;
$medium-green: #7ed56f;
$dark-green: #28b485;
